@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Primary */
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  --font-size: 15px;
  --family: "Poppins", sans-serif;
  --light-weights: 200;
  --regular: 400;
  --semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: var(--family);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--very-light-gray);
}

main {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.title {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--light-weights);
  color: var(--very-dark-blue);
}

.title-bold {
  font-weight: var(--semi-bold);
}

.desc {
  margin-bottom: 3rem;
}

.desc,
.card-desc {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

.cards {
  display: grid;
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 3px solid;
  border-radius: 5px;
  box-shadow: 0 5px 8px hsl(0, 0%, 0%, 0.2);
  max-width: 375px;
  line-height: 1.5em;
}

.img-container {
  text-align: right;
}

.card-title {
  color: var(--very-dark-blue);
}

.card-desc {
  /* font-size: 0.7rem; */
}

.cyan {
  border-color: var(--Cyan);
}

.red {
  border-color: var(--Red);
}
.orange {
  border-color: var(--Orange);
}

.blue {
  border-color: var(--Blue);
}

@media (min-width: 768px) {
  .cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 1.725rem;
    max-width: 400px;
  }

  .desc {
    text-align: center;
    max-width: 400px;
  }

  .cyan {
    grid-row: 2 span / span 1;
    grid-column: 1;
  }
  .red {
    grid-row: 0;
    grid-column: 2;
  }
  .orange {
    grid-column: 2;
    grid-row: 2;
  }
  .blue {
    grid-column: 3;
    grid-row: span 2 / span 1;
  }
}
